<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="commerceRuntimeExtensions" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeExtensionsSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="retailProxyExtensions" type="Microsoft.Dynamics.Commerce.RetailProxy.Configuration.RetailProxyExtensionsSection, Microsoft.Dynamics.Commerce.RetailProxy.ConfigurationProviders, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="workflowFoundation" type="Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation.WorkflowFoundationSection, Microsoft.Dynamics.Commerce.Runtime.WorkflowFoundation, Version=7.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ModernPosAzureClientId" value="d6b5a0bd-bf3f-4a8c-b370-619fb3d0e1cc" />
    <add key="AADLoginUrl" value="https://login.windows.net/common" />
    <!-- CRT specific -->
    <add key="isConnectionStringOverridden" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="OfflineDatabase" connectionString="Data Source=localhost;Initial Catalog=RetailOfflineDatabase;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>
  <system.diagnostics></system.diagnostics>
  <commerceRuntime configSource="CommerceRuntime.MPOSOffline.config" />
  <commerceRuntimeExtensions configSource="CommerceRuntime.MPOSOffline.Ext.config" />
  <retailProxyExtensions configSource="RetailProxy.MPOSOffline.Ext.config" />
  <workflowFoundation configSource="workflowFoundation.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>