<?xml version="1.0" encoding="utf-8"?>
<hardwareStation useSingletonHandlers="true">
  <composition>
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.CardPayment" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Drawing.Android"/>
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Localization" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Network" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Security.Android" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Payments.Connector.Adyen.Device" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Network" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Service.AspNetCore" />
  </composition>
</hardwareStation>
