<?xml version="1.0" encoding="utf-8"?>
<hardwareStationExtension>
  <composition>
    <!-- 
    Register your own assemblies or types here.
    The the following example registers NewPeripheralDevice (and all its request handlers). Any other services are not being overridden:
    <add source="type" value="Contoso.Commerce.HardwareStation.NewPeripheralDevice, Contoso.Commerce.HardwareStation.NewPeripheralDevice" />
    <add source="assembly" value="Contoso.Commerce.HardwareStation.NewPeripheralDevice" />
    -->
  </composition>
</hardwareStationExtension>