<?xml version="1.0"?>
<configuration>
  <PreloadedComposition>
    <composition>
      <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.PaymentDeviceAdapter" />
    </composition>
  </PreloadedComposition>
  <diagnosticsSection>
    <application name="Contoso Android POS" id="BF3114C0-8302-46EF-872A-8A479A04EDC5" buildVersion="1.0.0.0" />
    <emergencySink assembly="Contoso.Commerce.Client.Pos.Android" class="Contoso.Commerce.Client.Pos.LogCatSink">
      <properties>
        <property name="eventSourceName" value="Contoso Android POS" />
      </properties>
    </emergencySink>
    <filter maxDataFieldValueLength="32768" minLevel="Information" />
    <sinks>
      <sink assembly="Microsoft.Dynamics.Diagnostics.Sinks.Portable" class="Microsoft.Dynamics.Diagnostics.Sinks.Portable.EventConsolidator">
        <filter minLevel="Informational" maxDataFieldValueLength="8192" excludedPrivacyDataTypes="AccessControlData;CustomerContent;EndUserIdentifiableInformation" />
        <properties>
          <property name="instrumentationKey" value="NA" />
          <property name="proxyClass" value="Microsoft.Dynamics.Retail.Diagnostics.Proxies, Microsoft.Dynamics.Retail.Diagnostics.Proxies.AppInsightsProxy" />
        </properties>
      </sink>
    </sinks>
  </diagnosticsSection>
</configuration>