<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LoginView</title>
</head>

<body>
    <div class="fragment loginView" data-bind="css: { loginBackgroundImage: !_isPortraitOrientation(), loginBackgroundImagePortrait: _isPortraitOrientation() }">
        <!--Login panel for accepting user credentials-->
        <div class="section main full-screen col grow pad40" data-bind="resx: { ariaLabel: 'string_4454' /* Main content */ }">
            <!-- Date time -->
            <!-- ko if: viewModel.showDateTime() -->
            <div data-bind="template: {
                name: 'loginDateTimeTemplate',
                data: {
                    isLeftLayout: viewModel.isLeftLayout(),
                    time: viewModel.clockViewModel.currentTime(),
                    date: viewModel.clockViewModel.currentDate()
                 }
            }">
            </div>
            <!-- /ko -->
            <!-- Main content -->
            <div class="col" data-bind="css: {
                height100Percent: viewModel.isLeftLayout() || viewModel.isRightLayout(),
                left0: viewModel.isLeftLayout(),
                right0: viewModel.isRightLayout(),
                center: viewModel.isCenteredLayout() }">
                <!-- Logo outside the panel, shown when it's centered layout -->
                <div class="width296 marginBottom40 loginLogoImage height48" data-bind="visible: viewModel.showLogo() && !firstTimeUsageVisible() && !showLogoInside()"></div>
                <!-- Panel -->
                <div class="col width360 padTop40 padBottom20 padLeft32 padRight32 loginPanel primaryBackgroundColor scrollY"
                    data-bind="visible: !firstTimeUsageVisible(), css: {
                        height100Percent: viewModel.isRightLayout() || viewModel.isLeftLayout(),
                        maxHeight676: viewModel.isCenteredLayout() && viewModel.showNumPad(),
                        maxHeight500: viewModel.isCenteredLayout() && !viewModel.showNumPad()
                    }">
                    <!-- Logo inside the panel, shown when it's left / right layout -->
                    <div class="marginBottom20 loginLogoImage height48" data-bind="visible: viewModel.showLogo() && showLogoInside()"></div>
                    <!-- User / password textbox field -->
                    <div class="col grow">
                        <div>
                            <h1 class="wrapTextWithoutHyphen" data-bind="resx: { textContent: 'string_500' }">Sign In</h1>
                        </div>

                        <div class="padTop40">
                            <label data-bind="resx: { textContent: 'string_528' }">Store / Register</label>
                            <div class="ellipsis h4" data-bind="text: viewModel.storeAndRegister">Store / Register</div>
                        </div>

                        <!-- ko if: !viewModel.useAad && (!viewModel.showNumPad() || !viewModel.isOperatorIdTextVisible) -->
                        <div class="padTop20">
                            <label data-bind="resx: { textContent: viewModel.isOperatorIdTextVisible ? 'string_502' /* Operator ID */ : 'string_530' /* Staff */ },
                                        css: { marginBottom16: viewModel.isOperatorIdSelectVisible, marginBottom8: viewModel.isOperatorIdTextVisible}"
                                    for="operatorTextBox">
                                Operator ID
                            </label>

                            <!-- ko if: !viewModel.showNumPad() -->
                            <!-- Depending on the value showListAtStaffLogon show either the text box or select box-->
                            <input id="operatorTextBox" class="operatorTextBox" type="text" autocomplete="off" autofocus="autofocus"
                                    data-ax-barcode-scanner-enabled="true"
                                    data-bind="value: viewModel.operatorId,
                                        valueUpdate: 'afterkeydown',
                                        visible: viewModel.isOperatorIdTextVisible,
                                        disable: disableInput,
                                        enterKeyPress: signInHandler,
                                        validator: {
                                            validatorField: 'UserId',
                                            validatorType: 'ConnectionRequestValidator'
                                        },
                                        axBubbleAttr: 'loginView_operatorTextBox'" />
                            <!-- /ko -->

                            <!-- People picker -->
                            <!-- ko if: viewModel.isOperatorIdSelectVisible  -->
                            <div id="operatorBox" class="centerY heightAuto marginTop8" tabindex="0" role="button"
                                data-bind="click: selectEmployeeHandler,
                                    enterKeyPress: selectEmployeeHandler,
                                    disable: disableInput"
                                data-retail-numpad-ignore-keys="enter">
                                <div data-bind="userImageOrInitials: userImageOrInitialsOptions" class="height48 width48 circleBorder h4"></div>
                                <!-- ko if: viewModel.isOperatorSelected  -->
                                <div class="padLeft12 col grow overflowHidden clickable">
                                    <div class="ellipsis h4 primaryFontColor inlineBlock" data-bind="text: userImageOrInitialsOptions().name"></div>
                                    <div id="operatorSelectedIdText" class="ellipsis h4 primaryFontColor inlineBlock" data-bind="text: viewModel.operatorId"></div>
                                </div>
                                <!-- /ko -->
                                <!-- ko ifnot: viewModel.isOperatorSelected -->
                                <div class="h4 padLeft8 inlineBlock grow overflowHidden clickable"
                                    data-bind="resx: { textContent: Commerce.ViewModelAdapter.getResourceString('string_527') /* Choose a staff */ }">
                                </div>
                                <!-- /ko -->
                                <div class="center accentColor iconChevronRight icon-24x24 width24 clickable"
                                    data-bind="resx: { ariaLabel: 'string_527' /* Choose a staff */ }, axBubbleAttr: 'loginView_chooseOperatorBox'"></div>
                            </div>
                            <!-- /ko -->
                        </div>

                        <!-- ko if: !viewModel.showNumPad() -->
                        <div class="padTop20">
                            <label data-bind="resx: { textContent: 'string_503' }" for="passwordBox" class="marginBottom8">Password</label>

                            <input id="passwordBox" class="passwordBox" type="password" required="required" role="textbox"
                                    data-bind="value: viewModel.password,
                                            valueUpdate: 'afterkeydown',
                                            disable: disableInput,
                                            enterKeyPress: signInHandler,
                                            validator: {
                                                validatorField: 'Password',
                                                validatorType: 'ConnectionRequestValidator'
                                            },
                                            attr: { 'sensitiveDataFor': operatorElementId },
                                            axBubbleAttr: 'loginView_passwordBox'" />
                        </div>
                        <!-- /ko -->

                        <!-- /ko -->

                        <!-- ko if: viewModel.useAad || !viewModel.showNumPad() -->
                        <div class="padTop40 flexRow">
                            <button id="signInButton" class="primaryButton flexGrow100"
                                    data-bind="resx: { textContent: 'string_500' }, click: signInHandler, disable: disableSignInButton, setElementRef: signInButton, axBubbleAttr: 'loginView_signInButton'">
                                Sign in
                            </button>
                        </div>
                        <!-- /ko -->

                        <!-- ko ifnot: viewModel.useAad || !viewModel.showNumPad() -->
                        <div class="col grow numpad padTop20" data-bind="multipleTextInputNumpad: {
                                inputOptions: numpadInputOptions,
                                onCompleted: onNumpadComplete.bind($root),
                                numPadInputSource: numPadInputBroker
                            },
                            setElementRef: numpadElement">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

            </div>

            <div id="version" class="h4 bottom0 right0" data-bind="text: applicationVersion"></div>
        </div>
    </div>
</body>
</html>
