<?xml version="1.0" encoding="utf-8"?>
<hardwareStation useSingletonHandlers="true">
  <!-- Pairing key expiration period in days -->
  <pairingKey expirationPeriod="180" />
  <secureStore cipherProvider="DPAPI" />
  <composition>
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.CardPayment" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Drawing"/>
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Localization" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Desktop" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Network" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.Opos" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Peripherals.SampleMx925Library" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.HardwareStation.Security" />
    <add source="assembly" value="Microsoft.Dynamics.Commerce.Payments.Connector.Adyen.Device" />
    <add source="assembly" value="VerifoneDevice" />
  </composition>
</hardwareStation>