<?xml version="1.0" encoding="utf-8"?>
<retailProxyExtensions>
  <composition>
    <!-- 
    Register your own proxy extension assemblies.
    <add source="assembly" value="Contoso.Commerce.RetailProxy.CrossLoyaltySample" />
    <add source="assembly" value="Contoso.Commerce.RetailProxy.StoreHoursSample" />
    -->
  </composition>
</retailProxyExtensions>