<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <service>
    <EvaluationModeEnabled>true</EvaluationModeEnabled>
    <DebugMode>false</DebugMode>
    <DataServiceUrl></DataServiceUrl>
    <MediaBaseUrl></MediaBaseUrl>
    <CardPaymentHostPageUrl></CardPaymentHostPageUrl>
    <OperatingUnitNumber>077</OperatingUnitNumber>
  </service>
  <pallet>
    <Primary>#008A00</Primary>
    <PrimaryDark>#008A00</PrimaryDark>
    <Accent>#addfad</Accent>
    <ActionButtonBackground>#174a63</ActionButtonBackground>
    <ActionButtonText>#FFFFFF</ActionButtonText>
  </pallet>
  <google>
    <ClientId>471792593709-30oe903o2c35p3r2pkcvcg5cetng8d2i.apps.googleusercontent.com</ClientId>
    <RedirectUrl>https://login.live.com/oauth20_desktop.srf</RedirectUrl>
  </google>
  <about>
    <TermsOfUseUrl>https://aka.ms/axattribution</TermsOfUseUrl>
    <PrivacyPolicyUrl>https://aka.ms/ax7_1privacy</PrivacyPolicyUrl>
  </about>
</config>