<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aadClientId" value="" />
    <add key="aadClientSecret" value="" />
    <add key="aadAuthority" value="" />
    <add key="retailServerUrl" value="https://usnconeboxax1ret.cloud.onebox.dynamics.com/Commerce" />
    <add key="operatingUnitNumber" value="068" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Publishing.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>