<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SalesTransactionSignature" type="Microsoft.Dynamics.Commerce.Runtime.SalesTransactionSignatureSample.Configuration.SalesTransactionSignatureConfigSection, Microsoft.Dynamics.Commerce.Runtime.SalesTransactionSignatureSample" />
  </configSections>
  <SalesTransactionSignature certificateThumbprint="insert key certificateThumbprint here" certificateStoreLocation="LocalMachine" certificateStoreName="My" />
</configuration>
