<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FiscalRegister" type="Microsoft.Dynamics.Commerce.HardwareStation.FiscalRegisterSample.FiscalRegisterConfigSection, Microsoft.Dynamics.Commerce.HardwareStation.FiscalRegisterSample" />
  </configSections>
  <FiscalRegister connectionString="COM3:19200,DTR" />
</configuration>